<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="navbar.html"
>
<head>
    <meta charset="UTF-8">
    <title>Hopital</title>

</head>
<body>

<div layout:fragment="contenu">
    <div class="p-4">
        <div class="card">
            <div class="card-header text-bg-success"> <h4>Liste De Tous  Les Patients</h4> </div>
            <div class="card-body">
                <form method="get" th:action="@{/user/index}">
                    <label>Mot cle :</label>
                    <input    type="text" name="keyword" th:value="${motCle}">
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
                </br>

                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th><th>Nom Complet du Patient</th><th>Date de Naissance</th><th>Malade</th><th>Score</th><th>Actions</th>
                    </tr>
                    <tr th:each="patient:${listeDesPatients}">
                        <td  th:text="${patient.id}"></td>
                        <td  th:text="${patient.nomPatient}"></td>
                        <td  th:text="${patient.dateNaissance}"></td>
                        <td  th:text="${patient.malade}"></td>
                        <td  th:text="${patient.score}"></td>
                        <td th:if="${#authorization.expr('hasRole(''ADMIN'')')}">
                            <a  onclick=" javascript: return confirm('Etes-vous sur  de vouloir Supprimer?')"
                                th:href="@{/admin/delete(id=${patient.id}, keyword =${motCle}, page=${currentPage})}" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                            <a  class="btn btn-primary" th:href="@{/admin/editPatient(id=${patient.id})}">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </td>
                    </tr>
                    </thead>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="value, item:${pages}">
                        <a th:href="@{/user/index(page=${item.index}, keyword=${motCle})}"
                           th:class="${(currentPage==item.index)? 'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                           th:text="${1+item.index}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



</body>
</html>